<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.rwilgaard.alfred.bitbucket-search-go</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>3F8EB22F-9421-40EA-A25E-1CDA79DBD9BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A718A4B4-3868-41EB-A8C8-16C7601F40ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>374EA1F6-2FA1-461B-8C0D-0A1ADC4FA06D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9B6718CC-1682-4EBB-9870-41EDBB315DB8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>42A24A15-49A4-4206-9BFC-A5D9D9E706A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20949E5A-CB56-4797-A0D0-37DB55AF6135</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F2090AA5-F5A0-43B3-A894-1C513990D3B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>454478F5-2FCA-438F-98C5-09A0FDD404C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E3F208D7-97A5-497A-B5F3-858DD41BC5ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F297755-EB1E-40A4-BABC-CD477271EBB2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D6F218A8-2F75-49F9-83CA-E38D199A293C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9B6718CC-1682-4EBB-9870-41EDBB315DB8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42A24A15-49A4-4206-9BFC-A5D9D9E706A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A718A4B4-3868-41EB-A8C8-16C7601F40ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B76510B2-EAA2-41A1-B305-A77413CEDC27</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B76510B2-EAA2-41A1-B305-A77413CEDC27</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>454478F5-2FCA-438F-98C5-09A0FDD404C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D6F218A8-2F75-49F9-83CA-E38D199A293C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65BBD455-088A-40E7-81D6-D557EACA965B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C8A6B323-1FA6-4292-9ACB-66FF3D54748D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Rasmus Wilgaard</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Bitbucket Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>auth</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>65BBD455-088A-40E7-81D6-D557EACA965B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gs</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./alfred-bitbucket-search "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search for Bitbucket repositories</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6F297755-EB1E-40A4-BABC-CD477271EBB2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>auth</string>
						<key>outputlabel</key>
						<string>auth</string>
						<key>uid</key>
						<string>C8A6B323-1FA6-4292-9ACB-66FF3D54748D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>D6F218A8-2F75-49F9-83CA-E38D199A293C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Press ↩ to set Bitbucket URL to '{query}'</string>
				<key>text</key>
				<string>Enter Bitbucket URL</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A718A4B4-3868-41EB-A8C8-16C7601F40ED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Bitbucket URL set to: {var:URL}</string>
				<key>title</key>
				<string>Bitbucket Search</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>454478F5-2FCA-438F-98C5-09A0FDD404C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>auth</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>E3F208D7-97A5-497A-B5F3-858DD41BC5ED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  var query = argv[0];
  Application('com.runningwithcrayons.Alfred').setConfiguration('URL', {
    toValue: `${query}`,
    inWorkflow: 'com.rwilgaard.alfred.bitbucket-search-go',
    exportable: false
  });
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B76510B2-EAA2-41A1-B305-A77413CEDC27</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:URL}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Configure URL</string>
						<key>uid</key>
						<string>374EA1F6-2FA1-461B-8C0D-0A1ADC4FA06D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>auth</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>3F8EB22F-9421-40EA-A25E-1CDA79DBD9BE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  var query = argv[0];
  Application('com.runningwithcrayons.Alfred').setConfiguration('USERNAME', {
    toValue: `${query}`,
    inWorkflow: 'com.rwilgaard.alfred.bitbucket-search-go',
    exportable: false
  });
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>20949E5A-CB56-4797-A0D0-37DB55AF6135</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Press ⏎ to set username to '{query}'</string>
				<key>text</key>
				<string>Enter username for {var:URL}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9B6718CC-1682-4EBB-9870-41EDBB315DB8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>username</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>42A24A15-49A4-4206-9BFC-A5D9D9E706A7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./passwordprompt.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F2090AA5-F5A0-43B3-A894-1C513990D3B2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>20949E5A-CB56-4797-A0D0-37DB55AF6135</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>3F8EB22F-9421-40EA-A25E-1CDA79DBD9BE</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Authentication</string>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>42A24A15-49A4-4206-9BFC-A5D9D9E706A7</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>675</real>
			<key>ypos</key>
			<real>585</real>
		</dict>
		<key>454478F5-2FCA-438F-98C5-09A0FDD404C8</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>65BBD455-088A-40E7-81D6-D557EACA965B</key>
		<dict>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>6F297755-EB1E-40A4-BABC-CD477271EBB2</key>
		<dict>
			<key>xpos</key>
			<real>160</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>9B6718CC-1682-4EBB-9870-41EDBB315DB8</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>555</real>
		</dict>
		<key>A718A4B4-3868-41EB-A8C8-16C7601F40ED</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>B76510B2-EAA2-41A1-B305-A77413CEDC27</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>D6F218A8-2F75-49F9-83CA-E38D199A293C</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>E3F208D7-97A5-497A-B5F3-858DD41BC5ED</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>F2090AA5-F5A0-43B3-A894-1C513990D3B2</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>610</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>URL</key>
		<string>https://git.netic.dk</string>
		<key>USERNAME</key>
		<string>rw@netic.dk</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>URL</string>
		<string>USERNAME</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>github.com/rwilgaard/alfred-bitbucket-search</string>
</dict>
</plist>
